:host {
  display: block;
  padding-top: 25px;
  padding-bottom: 0px;
}

.container {
  max-width: 900px;
  margin: 16px auto;
  background: white;
  border-radius: 16px;
  padding: 36px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

@media (max-width: 900px) {
  :host {
    padding-top: 40px;
  }
  .container {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}
