* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: #F3F4F6;
  color: #1F2937;
  min-height: 100vh;
  overflow-y: auto;
  height: 100%;
}
html {
  height: 100%;
}

router-outlet + * {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}

m-container .container {
  max-width: none !important;
  min-height: calc(100vh - 0px);
  border-radius: 0 !important;
}

